@page

@inject UserManager<TroydonFitnessWebsiteUser> UserManager
@inject SignInManager<TroydonFitnessWebsiteUser> SignInManager

@model TroydonFitnessWebsite.Pages.Products.Supplements.IndexModel

@{ Layout = "~/Pages/Shared/_ProductsLayout.cshtml"; }


@* Begin Viewing Training Routine *@
<p>
    <a asp-page="Create">Create New Supplement</a>
</p>

<form asp-page="./Index" method="get">
    @* By using method type get, we are able to see the query string in the URL and book mark the page with search criteria, also as per W3C guideliness, if we are not inputting data in server use GET *@
    <div class="form-actions no-color">
        <p>
            Find by product title or description:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
@* TODO: Add option to add to cart by clicking on an a plus icon right next to the item instead of using a select list, and do not navigate to the cart *@
<table class="table">
    <thead>
        <tr>
            @if (UserManager.GetUserAsync(User).Result.IsMasterAdmin)
            {
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.IdSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Supplements[0].Product.ProductID)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.SuppIdSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Supplements[0].SupplementID)
                    </a>
                </th>
            }
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SuppNameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Supplements[0].SupplementName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplements[0].SupplementPicture)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Supplements[0].SupplementPrice)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplements[0].Product.HasStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplements[0].Product.ShortDescription)
            </th>
            @if (UserManager.GetUserAsync(User).Result.IsAdmin)
            {
                <th></th>
}
            <th></th>

        </tr>
    </thead>
    <tbody>
        @{
            int cartItemNumber = 4;

            @foreach (var item in Model.Supplements)
            {
                // dynamically setting the cart id, so we can dynamically update the id of the current item being displayed.
                string cartItemId = "cartItemId" + cartItemNumber;
                string formNumberId = "formNumberId" + cartItemNumber;
                string addToCartFormId = "addToCartFormId" + cartItemNumber;
                string cartIconId = "cartIconId" + cartItemNumber;
                <tr>
                    @if (UserManager.GetUserAsync(User).Result.IsMasterAdmin)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplementID)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplementName) <br /> <em> @Html.DisplayFor(modelItem => item.Product.Title) </em>
                    </td>
                    <td>
                        <img style="width:7rem;height:7rem; object-fit:cover;" src="data:image/*;base64,@(Convert.ToBase64String(item.SupplementPicture))">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplementPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.HasStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ShortDescription)
                    </td>
                    @* If the user is an admin, the edit controls are displayed, only master admin can delete, and edit *@
                    @if (UserManager.GetUserAsync(User).Result.IsAdmin || UserManager.GetUserAsync(User).Result.IsMasterAdmin)
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.SupplementID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.SupplementID">Details</a> |
                            @if (UserManager.GetUserAsync(User).Result.IsMasterAdmin)
                            {
                                <a asp-page="./Delete" asp-route-id="@item.SupplementID">Delete</a>
                            }
                        </td>
                    }
                    <td>
                        <form id="@addToCartFormId" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="@cartItemId">
                            <div  hidden>@item.SupplementID</div>

                            <i id="@cartIconId" class="fas fa-plus-circle" onClick="reply_click(this.id)" > @* onClick="document.forms[@formNumber].submit();"*@
                                <input id="@formNumberId" type="hidden" asp-for="CartVM.SupplementID" value="@item.SupplementID" onClick="reply_click(this.id)"
                                       asp-items="@Model.SupplementNameSL" />
                            </i>
                        </form>

                        <div id="@cartItemId">
                            @{
                                var numberOfCurrentSupplementInCart = 0;
                                for (int i = 0; i < Model.SupplementIdList.Count(); i++)
                                {
                                    // when the supplement in the list id is the same this supp ID
                                    if (Model.SupplementIdList[i] == item.SupplementID)
                                    {
                                        // then show the value of the quantity for that supplement ID
                                        numberOfCurrentSupplementInCart = Model.QuantityInCart[i];
                                    }
                                }
                            }

                            @numberOfCurrentSupplementInCart
                        </div>
                    </td>
                </tr>
                cartItemNumber++;
            }
        }
    </tbody>
    <thead>

    </thead>
</table>

@{ var prevDisabled = !Model.Supplements.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Supplements.HasNextPage ? "disabled" : ""; }

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Supplements.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Supplements.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>

<script>
    function reply_click(clicked_id) {
        // replace all leading non-digits with nothing to find the form number to be submitted
        var formNumber = clicked_id.replace(/^\D+/g, ''); 
        var supplementId = document.getElementById("formNumberId" + formNumber).value;
        console.log("SupplementID: " + supplementId);
        console.log("the current form number is " + formNumber);
        $("#addToCartFormId" + formNumber).submit();
    };
</script>